/*
If this file is changed, the dev server needs to be restarted for 
./plugins/extractCssVars.ts to re-calcualte the cssVariables.js file.
You can just save a file that will trigger a restart.
*/

/* css by primevue */
:root {
  --primary-50: 236 253 245;
  --primary-100: 209 250 229;
  --primary-200: 167 243 208;
  --primary-300: 110 231 183;
  --primary-400: 52 211 153;
  --primary-500: 16 185 129;
  --primary-600: 5 150 105;
  --primary-700: 4 120 87;
  --primary-800: 6 95 70;
  --primary-900: 4 78 56;
  --primary-950: 2 44 34;
  --surface-0: 255 255 255;
  --surface-50: 250 250 250;
  --surface-100: 244 244 245;
  --surface-200: 228 228 231;
  --surface-300: 212 212 216;
  --surface-400: 161 161 170;
  --surface-500: 113 113 122;
  --surface-600: 82 82 91;
  --surface-700: 63 63 70;
  --surface-800: 39 39 42;
  --surface-900: 24 24 27;
  --surface-950: 9 9 11;

  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;

  --section-gap: 160px;
}
.dark {
  --primary: var(--primary-400);
  --primary-inverse: var(--surface-900);
  --primary-hover: var(--primary-300);
  --primary-active-color: var(--primary-300);

  --primary-highlight-opacity: 0.2;
  --primary-highlight-inverse: var(--surface-0);
  --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
  &:not(.dark) {
    --primary: var(--primary-950);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-800);
    --primary-active-color: var(--primary-900);

    --primary-highlight-opacity: 1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.8;
  }
  &.dark {
    --primary: var(--primary-50);
    --primary-inverse: var(--surface-950);
    --primary-hover: var(--primary-100);
    --primary-active-color: var(--primary-100);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.2;
  }
}

/*
Vuestic presests as vars.
The var primary which is a Vuestic colour is already set by PrimeVue.
We are passing Vustic it's colours by processing the Tailwind colours
and using the cssVariables.js file to resolve the variables.
*/

:root {
  --secondary: 102 110 117;
  --success: 61 146 9;
  --info: 21 141 227;
  --danger: 228 34 34;
  --warning: 255 212 58;
  --backgroundPrimary: 255 255 255;
  --backgroundSecondary: 248 249 250;
  --backgroundElement: 236 240 241;
  --backgroundBorder: 222 229 242;
  --textPrimary: 38 40 36;
  --textInverted: 255 255 255;
  --shadow: 0 0 0;
  --shadow-opacity: 0.12;
  --focus: var(--primary);
}

.dark {
  --secondary: 129 137 146;
  --success: 102 190 51;
  --info: 62 170 248;
  --danger: 243 64 48;
  --warning: 255 217 82;
  --backgroundPrimary: 5 10 16;
  --backgroundSecondary: 31 38 47;
  --backgroundElement: 19 26 34;
  --backgroundBorder: 61 76 88;
  --textPrimary: 241 241 241;
  --textInverted: 11 18 26;
  --focus: var(--primary);
}

/* Secret pink mode test colours. Press cmd+k to toggle */

.pink {
  --primary-50: 255 230 242;
  --primary-100: 255 204 230;
  --primary-200: 255 179 218;
  --primary-300: 255 153 204;
  --primary-400: 255 128 191;
  --primary-500: 255 102 178;
  --primary-600: 255 77 166;
  --primary-700: 255 51 153;
  --primary-800: 255 26 140;
  --primary-900: 255 0 128;
  --primary-950: 230 0 115;
  --surface-0: 255 240 245;
  --surface-50: 255 230 240;
  --surface-100: 255 220 235;
  --surface-200: 255 210 230;
  --surface-300: 255 200 225;
  --surface-400: 255 180 215;
  --surface-500: 255 160 205;
  --surface-600: 255 140 195;
  --surface-700: 255 120 185;
  --surface-800: 255 100 175;
  --surface-900: 255 80 165;
  --surface-950: 255 60 155;
  --secondary: 204 153 255;
  --success: 153 204 255;
  --info: 153 255 255;
  --danger: 255 153 204;
  --warning: 255 255 153;
  --backgroundPrimary: 255 240 245;
  --backgroundSecondary: 255 230 240;
  --backgroundElement: 255 220 235;
  --backgroundBorder: 255 210 230;
  --textPrimary: 102 0 51;
  --textInverted: 255 230 240;
  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;

  --focus: var(--primary);
}
